<div class="card flex justify-center">
    <p-button (click)="showDialog()" label="הוסף תורם חדש" icon="pi pi-plus" />

    <p-dialog header="פרטי תורם חדש" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
        <span class="p-text-secondary block mb-5">אנא מלא את פרטי התורם לשמירה במערכת.</span>

        <div class="flex items-center gap-4 mb-4">
            <label for="fname" class="font-semibold w-24">שם פרטי</label>
            <input pInputText id="fname" class="flex-auto" [(ngModel)]="newDonor.firstName" autocomplete="off" />
        </div>

        <div class="flex items-center gap-4 mb-4">
            <label for="lname" class="font-semibold w-24">שם משפחה</label>
            <input pInputText id="lname" class="flex-auto" [(ngModel)]="newDonor.lastName" autocomplete="off" />
        </div>

        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">אימייל</label>
            <input pInputText id="eMail" class="flex-auto" [(ngModel)]="newDonor.eMail" autocomplete="off" />
        </div>

        <div class="flex justify-end gap-2">
            <p-button label="ביטול" severity="secondary" (click)="visible.set(false)" />
            <p-button label="שמור תורם" (click)="saveDonor()" />
        </div>
    </p-dialog>
</div>