<!-- <p>donor-gifts works!</p>
<p-accordion>
    <p-accordionTab header="לצפייה ברשימת המתנות שנתרמו">
        <p-table [value]="gifts()" [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="header">
                <tr>
                    <th>שם מתנה</th>
                    <th>מחיר</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gift>
                <tr>
                    <td>{{gift.name}}</td>
                    <td>{{gift.price}} ₪</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2" class="p-3 text-center">לא נמצאו תרומות לתורם זה.</td>
                </tr>
            </ng-template>
        </p-table>
    </p-accordionTab>
</p-accordion> -->